@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'DM Sans', 'Roboto', 'Fira Sans', sans-serif, -apple-system;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-5xl;
  }
  h3 {
    @apply text-4xl;
  }
  h4 {
    @apply text-3xl;
  }
  h5 {
    @apply text-2xl;
  }
  h6 {
    @apply text-xl;
  }
}

@layer components {
  .counter-btn {
    @apply px-2 py-1 border border-cyan-500 m-1 transition-all;
  }
}

@layer utilities {
  .counter-btn:hover {
    @apply bg-cyan-600 text-white;
  }
  .counter-btn:active {
    @apply bg-cyan-800 text-white;
  }
}
